

.oader{
  border: 25px solid #e7e7ef ;
  border-top: 25px solid transparent;
  /* border-top-style:double ; */
  border-bottom: 25px solid transparent;
    /* border-bottom-style:double ; */
  border-left: 25px solid greenyellow;
  border-right: 25px solid  greenyellow;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  animation: spin 0.7s linear infinite;
}



@keyframes spin {
  0% { transform: rotate(0deg) }
  100%{ transform: rotate(360deg);}
 
}



