<form [formGroup]="mainForm">
    <div formArrayName="formArray">
        <div *ngFor="let control of formArray.controls; let i = index">
            <mat-form-field>
                <input matInput [formControl]="getFormControl(i)">
            </mat-form-field>
            <button mat-raised-button color="primary" type="button" (click)="removeFormControl(i)">Remove</button>
        </div>
    </div>
    <button mat-raised-button color="primary" type="button" (click)="addFormControl()">Add Field</button>
</form>
<button mat-raised-button color="primary" type="button" (click)="submit()">submit</button>
