<button mat-raised-button (click)="ip.click()">Upload</button>
<button mat-raised-button (click)="logIt()">log</button>
<button *ngIf="tct.length > 0" mat-raised-button (click)="export()">Export</button>
<input #ip (change)="onSelectFile($event)" type="file" name="" id="">

<!-- {{val}} -->
<mat-card *ngIf="tct.length > 0">
    <table>
        <tr>
            <td (click)="des()">Sr no</td>
            <td>Date</td>
            <td>Name</td>
            <td>Comment ID</td>
            <td>Redirect</td>
        </tr>
        <tr *ngFor="let i of tct; let l =index">
            <td>{{i.SrNo}}</td>
            <td>{{i.date}}</td>
            <td>{{i.name}}</td>
            <td (click)="copy(i.commentId)">{{i.commentId}}</td>
            <td><mat-icon (click)="openAslink(i.commentId)">content_copy</mat-icon></td>
        </tr>
    </table>
</mat-card>