mat-card {
    padding: 10px;
}

td {
    border: 1px solid black;
    color: black;
    padding: 2px;
}

input {
    display: none;
}

button {
    margin: 5px;
}

td:nth-child(4),
td:nth-child(5) {
    cursor: pointer;
}

.onh {
    display: none;
}

