<!-- <div class="container">
    <span class="text1">turbocode</span>
    <span class="text2">technologies</span>
    </div>

<div class="main">
    <h1 class="head">
    <span class="one">welcome to angular</span>
    <span class="two">it's awesome</span>
</h1>
</div> -->

<input class="opac" #file type="file" [formControl]="form" (change)="fileName($event)" />
<button (click)="file.click()">Click</button> <br>
<div *ngIf="name">
    <span>{{name?.name}}</span>
    
        <button (click)="clear()">Clear</button>

</div>