<!-- <div class="container">
    <span class="text1">turbocode</span>
    <span class="text2">technologies</span>
    </div>

<div class="main">
    <h1 class="head">
    <span class="one">welcome to angular</span>
    <span class="two">it's awesome</span>
</h1>
</div> -->
<form [formGroup]="searchForm">
    <mat-radio-group aria-label="Select an option" formControlName="runtime">
        <mat-radio-button value="now">Run now</mat-radio-button>
        <mat-radio-button value="later">Run later</mat-radio-button>
    </mat-radio-group>
    <div *ngIf="this.show">
        <input type="text" formControlName="name" placeholder="name">
        <input type="text" formControlName="age" placeholder="age">
    </div>
    <!-- <div>
        <input type="text" formControlName="fname" placeholder="fname">
        <input type="text" formControlName="lname" placeholder="lname">
    </div> -->
</form>

<button (click)="check()">check</button>