<div fxLayoutAlign="center center" class="bgm" style="height: 100vh;">
    <mat-card fxFlex="50">
        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="center center">
                <h1>OOPS!</h1>
                <h3>We can't find this page</h3>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <img class="img" src="../../assets/error/404-error.png" alt="no-page">
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button matRipple class="g-button" (click)="redirect()">Return to Home</button>
            </div>
            <!-- <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button (click)="redirect()">Return</button>
            </div> -->
        </mat-card-content>
    </mat-card>
</div>