button {
  background-color: inherit;
  border: none;
  color: azure;
  padding: 0px 20px;
  display: inline-block;
  cursor: pointer;
}

mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 250px;
  background: #6172ab;
  /* background: url(colo.jpg); */
}

.components {
  padding-top: 10px;
  text-align: center;
}

mat-sidenav-content {
  padding: 10px;
  background: url(..//..//../assets/bg/bg_01.png) repeat-x;
  background-color: rgb(86, 81, 81);
  background-position: bottom;
}

h1 {
  text-align: center;
}


.btn:hover {
  background-color: rgb(153, 177, 220);
}



.example-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
}

.default {
  background-color: rgb(74, 99, 148);
  color: #fffdfd;
}

.black {
  background-color: #000;
  color: #fff;
}

.gray {
  background-color: rgb(76, 82, 88);
  color: ghostwhite;
}

.blue{
  background-color: cornflowerblue;
  color: black;
}

.red{
 background-color: red;
 color: black;
}

.picture{
  background: url('../../../assets/bg/wp10045409-technology-hd-desktop-wallpapers.jpg');
  color: whitesmoke;
}


.nd{
  position: fixed;
  top: 88%;
  left: 88%;
}

/* Style the container to enable scrolling */
.custom-scrollbar {
  height: 100vh; /* Set a fixed height to enable scrolling */
  overflow-y: auto; /* Enable vertical scrollbar when content overflows */
  scrollbar-width: thin; /* Set the width of the scrollbar (supported in some browsers) */
}

/* Track */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar (supported in some browsers) */
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray; /* Color of the scrollbar handle */
  border-radius: 4px; /* Round the edges of the scrollbar handle */
}

/* On hover, add a darker background color */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.pro {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 20px;
}

.topbar {
  position: relative;
  z-index: 2;
}