<form [formGroup]="form">
    <mat-form-field class="example-chip-list">
        <mat-label>Names</mat-label>
        <mat-chip-grid selected color="primary" formControlName="names" #chipGrid aria-label="Fruit selection">
            <mat-chip-row *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                {{fruit}}
                <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
        </mat-chip-grid>
        <input placeholder="New name..." #fruitInput [formControl]="fruitCtrl" [matChipInputFor]="chipGrid"
            [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)" />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                {{fruit}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
<button mat-raised-button (click)="submit()">submit</button>

<table *ngIf="tablevalues">
    <tr>
        <th>Names</th>
        <th>Person</th>
        <th>age</th>
    </tr>
    <tr *ngFor="let table of tablevalues">
        <td>{{table}}</td>
    </tr>
    <tr>

    </tr>
</table>