<div class="custom-scrollbar">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-button  (click)="togglesidebar()"><mat-icon>menu</mat-icon></button>
            <button mat-button  routerLink="/dashboard"><mat-icon>dashboard</mat-icon></button>
            <button mat-button  (click)="openBottomSheet()">Switch</button>

        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container>
        <!-- sidebar  -->
        <mat-sidenav [(opened)]="opened" mode="side">
            <app-sb></app-sb>
        </mat-sidenav>
        <!-- content  -->
        <mat-sidenav-content >
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>