<mat-tab-group>
  <mat-tab label="First"><ng-container *ngTemplateOutlet="one"></ng-container></mat-tab>
  <mat-tab label="Second"><ng-container *ngTemplateOutlet="two"></ng-container></mat-tab>
  <mat-tab label="Third"><ng-container *ngTemplateOutlet="three"></ng-container></mat-tab>
</mat-tab-group>

<ng-template #one>
  <div *ngFor="let user of userr">
    <div>{{user.name}}</div>
  </div>

  <button mat-raised-button (click)="checks()">check</button> <br> <br>
  <button mat-raised-button (click)="rev()">rev</button>
</ng-template>

<ng-template #two>
  Assumptions
  These docs assume that you are already familiar with HTML, CSS, JavaScript, and some of the tools from the latest
  standards, such as classes and modules. The code samples are written using TypeScript. Most Angular code can be
  written with just the latest JavaScript, using types for dependency injection, and using decorators for metadata.
</ng-template>

<ng-template #three>
hello
</ng-template>

<mat-form-field class="custom-form-field">
  <input matInput placeholder="Search" [(ngModel)]="searchTerm" (keyup.enter)="onSearch($event)">
  <button mat-button (click)="clear()">clear</button>
</mat-form-field>

