<div *ngIf="(loader$ | async)" fxLayout="row" fxLayoutAlign="center center" class="bgm" style="height: 100vh;">
  <div fxFlex="30">
    <mat-card-content>
      <div style="margin-bottom: 2em;" fxLayout="row" fxLayoutAlign="center center">
        <div>
          <mat-card-title>Login</mat-card-title>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <form [formGroup]="form" fxFlex="80">
          <div fxLayout="column">
            <mat-form-field appearance="outline">
              <input matInput type="text" placeholder="name" formControlName='userName' />
              <mat-label>Name</mat-label>

            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput type="{{this.showPassword ? 'text' : 'password'}}" placeholder=""
                formControlName='password' />

              <mat-icon matSuffix color="primary" (click)="toggleShow()">{{this.showPassword ?
                'visibility' : 'visibility_off'}}</mat-icon>
              <mat-label>Password</mat-label>
            </mat-form-field>
          </div>
          <div fxLayoutAlign="center center">
            <button mat-raised-button color="primary" (click)="login()">Login</button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </div>
</div>
<div *ngIf="!(loader$ | async)" fxLayout="row" fxLayoutAlign="center center" style="height: 100vh;">
  <app-open-loader></app-open-loader>
</div>