.div {
    top: 50;
    left: 50;
}



.oader {
    border: 20px solid #e7e7ef;
    border-top: 30px solid black;
    /* border-top-style:double ; */
    border-bottom: 30px solid black;
    /* border-bottom-style:double ; */
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    animation: spin 2s linear infinite;
}



@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg);
    }

}