<div class="scrollbar">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                RxJs
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p routerLink="/common/rxjsoverview" routerLinkActive="badge">Overview</p>
        <p routerLink="/common/obb" routerLinkActive="badge">Observables</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Forms
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p routerLink="/common/rxjsoverview" routerLinkActive="badge">Overview</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Work
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p routerLink="/work/pdf" routerLinkActive="badge">PDF Make</p>
    </mat-expansion-panel>
</div>