<div class="custom-scrollbar">
    <div class="divv">
      <div>Menu</div>
      <div class="sh-horizontal-line"></div>
    </div>
  
    <div style="justify-content: center;text-align: center;" class="grd" *ngFor="let side of sidebarmenu">
      <button mat-button routerLink="{{side.routerlink}}" routerLinkActive="active-link" style="margin-top: 20px;" class="btn">
       <b>{{side.name}}</b>
      </button>
    </div>
  
    <div class="divv">
      <div class="sh-horizontal-line"></div>
    </div>
  </div>
  