
   h1{
    text-align: center;
  }
  
  .btn{
    width:90%;
    background-color:transparent;
    padding: 0px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-family: sans-serif;
  
  }

  .sh-horizontal-line{    
    border-top-color: rgb(241, 240, 240);
    border-top-width: 1px;
    border-top-style: solid;
    flex: auto;
    height: 0;
    margin: 0.5em 0;
    min-width: 32px;
    
  }


.divv{
  padding: 20px;
  padding-bottom: 10px;
  font-family: sans-serif;
   white-space: pre-wrap;
  max-height: calc(100vh - 40vh);
  text-align: center;
}

.grd{
  height: calc(100vh-20vh); 
  font-family: sans-serif;
}

/* Style the container to enable scrolling */
.custom-scrollbar {
  height: 90vh; /* Set a fixed height to enable scrolling */
  overflow-y: auto; /* Enable vertical scrollbar when content overflows */
  scrollbar-width: thin; /* Set the width of the scrollbar (supported in some browsers) */
}

/* Track */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar (supported in some browsers) */
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar handle */
  border-radius: 4px; /* Round the edges of the scrollbar handle */
}

/* On hover, add a darker background color */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.active-link{
  background-color: #f3f4f5; /* Set the color you want for active buttons */
  color: #060b01; /* Set the color you want for the text inside active buttons */
}