<mat-card>
    <div fxLayoutAlign="center center">
        <div fxLayout="column">
            <div>
                <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
                    <div *ngFor="let field of formFields">
                        <mat-form-field appearance="outline">
                            <input matInput [type]="field === 'age' || field === 'mobilenumber' ? 'number' : 'text'"
                                [formControlName]="field">
                            <mat-label>{{ field | titlecase }}:</mat-label>
                        </mat-form-field>
                    </div>
                </form>
            </div>
            <div fxLayoutAlign="center center">
                <button mat-raised-button color="primary" type="submit">Submit</button>
            </div>
        </div>
    </div>
</mat-card>