<mat-icon>install_desktop</mat-icon>
<mat-icon>system_update_alt</mat-icon>
<mat-icon>save_alt</mat-icon>
<mat-icon>archive</mat-icon>
<mat-icon>system_security_update</mat-icon>
<mat-icon>cloud_download</mat-icon>
<mat-icon>downloading</mat-icon>

<button mat-button [matMenuTriggerFor]="menu">
    Hello, John Doe!
  </button>
  <mat-menu #menu>
    <div style="width: 500px;">
      <button mat-menu-item>Settingssssssssssssssssssssssssssssssssssssssssssssssssssssss</button>
      <button mat-menu-item>Helpsssssssssssssssssssssssssssssssssssssssssssssssssssssssss</button>
      <mat-divider></mat-divider>
      <button mat-menu-item>Logout</button>
    </div>
  </mat-menu>