 <div >
    <table style="width: 100%;">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>GENDER</th>
            <th>STATUS</th>       
            <!-- <th>ACTIVE</th>    -->
        </tr>
        <tr *ngFor="let heroo of heroo">
            <!-- <td>{{heroo.id}}</td> -->
            <td>{{heroo.name}}</td>
            <!-- <td>{{heroo.age}}</td> -->
            <!-- <td>{{heroo.gender}}</td> -->
            <!-- <td><mat-slide-toggle  [checked]="heroo.status"></mat-slide-toggle></td> -->
            <!-- <td><mat-slide-toggle  [checked]="heroo.active"></mat-slide-toggle></td> -->

        </tr>
    </table>
  </div>
<h2>WELCOME</h2>