

table{
    background-color: rgb(70, 64, 59);
    width: 100%;
    border-collapse: collapse;
    box-shadow: 2px 2px 20px 2px rgb(13, 12, 12);
    border-radius:5px;
    /* background: transparent; */
}

td,th{
    text-align: center;
    padding: 15px;
    font-family: sans-serif;
}
