<div class="scrollbar">
  <mat-grid-list cols="3" rowHeight="1.5:1" [gutterSize]="'15px'">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <div>
        <div>
          <span style="font-weight: 400;font-size: 5em;justify-content: left;margin-bottom: 50px;">
            {{splits[0]}}-{{splits[2]}}</span>
        </div><br>
        <div><span style="font-weight: 600;font-size: 5em;justify-content: left;"> {{splits[1]}}, {{splits[3]}}</span>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="main">
        <h1 class="head">
          <span class="one">TurboCode</span>
          <span class="two">Technologies</span>
        </h1>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span style="font-weight: 400;font-size: 5em;display: flex;" class="time">
        {{currentTime}}
      </span>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">

      <span class="words">TypeScript is a primary language for Angular application development.
        It is a superset of JavaScript with design-time support for type safety and tooling. Browsers can't execute
        TypeScript directly. Typescript must be "transpiled" into JavaScript
        using the tsc compiler, which requires some configuration.</span>
    </mat-grid-tile>
  </mat-grid-list>
</div>
