<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="100" style="padding: 1em; text-align: center;">
        <br>
        <h2 style="font-weight: bolder;">Add Food</h2>
    </div>            
</div>
<div>
    <form [formGroup]="form" >
        <div fxLayout="row" >
            <div fxFlex="50" fxLayoutAlign="center center">
                <mat-form-field appearance="outline">
                    <input matInput
                        type="text"
                        placeholder="Name"
                        formControlName='name'
                    />
                    <mat-label>Name</mat-label>
                </mat-form-field>
            </div>
            <div fxFlex="50" fxLayoutAlign="center center">
                <mat-form-field appearance="outline">
                    <input matInput
                    type="number"
                        placeholder="isavailable"
                        formControlName='isavailable'
                    />
                    <mat-label>isavailable</mat-label>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" >
            <div fxFlex="50" fxLayoutAlign="center center">
                <mat-form-field appearance="outline">
                    <input matInput
                        type="number"
                        placeholder="noOfSeats"
                        formControlName='noOfSeats'
                    />
                    <mat-label>noOfSeats</mat-label>
                </mat-form-field>
            </div>
            <div fxFlex="50" fxLayoutAlign="center center">
                <mat-form-field appearance="outline">
                    <input matInput
                        type="number"
                        placeholder="outletId"
                        formControlName='outletId'
                    />
                    <mat-label>outletId </mat-label>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" >
            <div fxFlex="50" fxLayoutAlign="center center">
                <mat-form-field appearance="outline">
                    <input matInput
                        type="number"
                        placeholder="waiterId"
                        formControlName='waiterId'
                    />
                    <mat-label>waiterId</mat-label>
                </mat-form-field>
            </div>
            
        </div>
       <div fxLayout="row" >             
        <div fxFlex="100" fxLayoutAlign="center center" style="padding-bottom: 30px;">                    
           <button mat-raised-button color="primary" class="btnn" (click)="submit()">Add</button></div>                
       </div>
    </form>
</div>

