<div style="padding: 50px;" id="content" #content>
    <div style="padding: 20px; font-family: Arial;">
        <!-- begin::Wrapper-->
        <div style="max-width: 950px; margin: 0 auto; width: 100%;">
            <!-- begin::Header-->
            <div
                style="display: flex; justify-content: space-between; flex-direction: column; flex-wrap: wrap; margin-bottom: 19px;">
                <h4 style="font-weight: bold; color: #333; font-size: 1.5em; padding-right: 5px; padding-bottom: 7px;">
                    INVOICE</h4>

                <!--end::Logo-->
                <div style="text-align: right;">
                    <!--begin::Logo-->
                    <a style="display: block; max-width: 150px; margin-left: auto;">
                        <img alt="Logo" src="C:\Users\Krishna\Downloads\attachment_140536572.png" style="width: 70%;">
                    </a>
                    <!--end::Logo-->

                    <!--begin::Text-->
                    <div style="font-weight: bold; font-size: 0.80em; color: #666; margin-top: 7px; text-align: right;">
                        <div>Cecilia Chapman, 711-2880 Nulla St, Mankato</div>

                        <div>Mississippi 96522</div>
                    </div>
                    <!--end::Text-->
                </div>
            </div>
            <!--end::Header-->

            <!--begin::Body-->
            <div style="padding-bottom: 12px;">
                <!--begin::Wrapper-->
                <div style="display: flex; flex-direction: column; gap: 10px;">
                    <!--begin::Message-->
                    <div style="font-weight: bold; font-size: 1em;">
                        Dear Sean Bean <span style="font-size: 0.75em; color: #666;">(sean@dellito.com)</span>,<br>
                        <span style="color: #666; font-size: 1em;">Here are your order details. We thank you for your
                            purchase.</span>
                    </div>
                    <!--begin::Message-->

                    <!--begin::Separator-->
                    <div style="border-bottom: 1px solid #ccc;"></div>
                    <!--begin::Separator-->

                    <!--begin::Order details-->
                    <div
                        style="display: flex; justify-content: space-between; flex-direction: row; gap: 50px; font-weight: bold; padding: 10px 5px;">
                        <div style="display: flex; flex-direction: column;">
                            <span style="color: #666;font-size:0.90em">Order ID</span>
                            <span style="font-size: 0.80em;">#14534</span>
                        </div>

                        <div style="display: flex; flex-direction: column;">
                            <span style="color: #666;;font-size:0.90em">Date</span>
                            <span style="font-size: 0.80em;">18 April, 2024</span>
                        </div>

                        <div style="display: flex; flex-direction: column;">
                            <span style="color: #666;;font-size:0.90em">Invoice ID</span>
                            <span style="font-size: 0.80em;">#INV-000414</span>
                        </div>

                        <div style="display: flex; flex-direction: column;">
                            <span style="color: #666;;font-size:0.90em">Shipment ID</span>
                            <span style="font-size: 0.80em;">#SHP-0025410</span>
                        </div>
                    </div>
                    <!--end::Order details-->

                    <!--begin::Billing & shipping-->
                    <div
                        style="display: flex; flex-direction: row; justify-content: space-between; font-weight: bold;padding:40px 0px">
                        <div style="display: flex; flex-direction: column;">
                            <span style="color: #666; padding-bottom: 2px;;font-size:0.90em">Billing Address</span>
                            <span style="font-size: 0.80em; padding: 5px 0;">
                                Unit 1/23 Hastings Road,<br>
                                Melbourne 3000,<br>
                                Victoria,<br>
                                Australia.
                            </span>
                        </div>


                        <div style="display: flex; flex-direction: column;">
                            <span style="color: #666; padding-bottom: 2px;;font-size:0.90em">Shipping Address</span>
                            <span style="font-size: 0.80em; padding: 5px 0;">
                                Unit 1/23 Hastings Road,<br>
                                Melbourne 3000,<br>
                                Victoria,<br>
                                Australia.
                            </span>
                        </div>

                    </div>
                    <!--end::Billing & shipping-->

                    <!--begin:Order summary-->
                    <div style="display: flex; flex-direction: column;">
                        <!--begin::Table-->
                        <div style="margin-bottom: 9px;">
                            <table
                                style="width: 100%; font-size: 0.875em; border-spacing: 0; border-collapse: collapse;">
                                <thead>
                                    <tr
                                        style="border-bottom: 1px solid #ccc; font-size: 1em; font-weight: bold; color: #666;">
                                        <th style="min-width: 20px; padding-bottom: 2px; text-align: left;">Sr No.</th>
                                        <th style="min-width: 175px; padding-bottom: 2px; text-align: left;">Products
                                        </th>
                                        <th style="min-width: 80px; text-align: right; padding-bottom: 2px;">QTY</th>
                                        <th style="min-width: 70px; text-align: right; padding-bottom: 2px;">Selling
                                            Price
                                        </th>
                                        <th style="min-width: 70px; text-align: right; padding-bottom: 2px;">Gst
                                            Percentage
                                        </th>

                                        <th style="min-width: 100px; text-align: right; padding-bottom: 2px;">Total</th>
                                    </tr>
                                </thead>

                                <tbody style="font-weight: bold; color: #666;">
                                    <tr style="border-bottom: 1px dashed #ccc;">

                                        <td>1</td>
                                        <td>
                                            <div style="display: flex; align-items: center;padding:10px 0px">


                                                <!--begin::Title-->
                                                <div style="margin-left: 5px;">
                                                    <div style="font-weight: bold;">Product 1</div>
                                                    <div style="font-size: 0.75em; color: #666;">Delivery Date:
                                                        18/04/2024
                                                    </div>
                                                </div>
                                                <!--end::Title-->
                                            </div>
                                        </td>

                                        <td style="text-align: right;">
                                            2
                                        </td>
                                        <td style="text-align: right;">
                                            $200.00
                                        </td>
                                        <td style="text-align: right;">
                                            12 % </td>
                                        <td style="text-align: right;">
                                            $240.00
                                        </td>
                                    </tr>
                                    <tr style="border-bottom: 1px dashed #ccc;">

                                        <td>1</td>
                                        <td>
                                            <div style="display: flex; align-items: center;padding:10px 0px">


                                                <!--begin::Title-->
                                                <div style="margin-left: 5px;">
                                                    <div style="font-weight: bold;">Product 1</div>
                                                    <div style="font-size: 0.75em; color: #666;">Delivery Date:
                                                        18/04/2024
                                                    </div>
                                                </div>
                                                <!--end::Title-->
                                            </div>
                                        </td>

                                        <td style="text-align: right;">
                                            2
                                        </td>
                                        <td style="text-align: right;">
                                            $200.00
                                        </td>
                                        <td style="text-align: right;">
                                            12 % </td>
                                        <td style="text-align: right;">
                                            $240.00
                                        </td>
                                    </tr>
                                    <tr style="border-bottom: 1px dashed #ccc;">

                                        <td>1</td>
                                        <td>
                                            <div style="display: flex; align-items: center;padding:10px 0px">


                                                <!--begin::Title-->
                                                <div style="margin-left: 5px;">
                                                    <div style="font-weight: bold;">Product 1</div>
                                                    <div style="font-size: 0.75em; color: #666;">Delivery Date:
                                                        18/04/2024
                                                    </div>
                                                </div>
                                                <!--end::Title-->
                                            </div>
                                        </td>

                                        <td style="text-align: right;">
                                            2
                                        </td>
                                        <td style="text-align: right;">
                                            $200.00
                                        </td>
                                        <td style="text-align: right;">
                                            12 % </td>
                                        <td style="text-align: right;">
                                            $240.00
                                        </td>
                                    </tr>
                                    <tr style="border-bottom: 1px dashed #ccc;">

                                        <td>1</td>
                                        <td>
                                            <div style="display: flex; align-items: center;padding:10px 0px">


                                                <!--begin::Title-->
                                                <div style="margin-left: 5px;">
                                                    <div style="font-weight: bold;">Product 1</div>
                                                    <div style="font-size: 0.75em; color: #666;">Delivery Date:
                                                        18/04/2024
                                                    </div>
                                                </div>
                                                <!--end::Title-->
                                            </div>
                                        </td>

                                        <td style="text-align: right;">
                                            2
                                        </td>
                                        <td style="text-align: right;">
                                            $200.00
                                        </td>
                                        <td style="text-align: right;">
                                            12 % </td>
                                        <td style="text-align: right;">
                                            $240.00
                                        </td>
                                    </tr>

                                    <tr style="border-bottom: 1px dashed #ccc;display:flex;height: 45px;">
                                        <div>
                                            <td colspan="5" style="text-align: right;">
                                                Subtotal
                                            </td>
                                            <td style="text-align: right;">
                                                $264.00
                                            </td>
                                        </div>
                                    </tr>
                                    <tr style="border-bottom: 1px dashed #ccc;height: 45px;">
                                        <td colspan="5" style="text-align: right;">
                                            VAT (0%)
                                        </td>
                                        <td style="text-align: right;">
                                            $0.00
                                        </td>
                                    </tr>
                                    <tr style="border-bottom: 1px dashed #ccc;height: 45px;">
                                        <td colspan="5" style="text-align: right;">
                                            Shipping Rate
                                        </td>
                                        <td style="text-align: right;">
                                            $5.00
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5"
                                            style="font-size: 1.25em; color: #333; font-weight: bold; text-align: right;height: 45px;">
                                            Grand Total
                                        </td>
                                        <td
                                            style="font-size: 1.25em; color: #333; font-weight: bold; text-align: right;">
                                            $269.00
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--end::Table-->
                    </div>
                    <!--end:Order summary-->
                </div>
                <!--end::Wrapper-->
            </div>

            <!-- end::Footer-->
        </div>
        <!-- end::Wrapper-->
    </div>
</div>

<button mat-raised-button color="primary" (click)="htmltoPDF()">Export To PDF</button>